<md-content landing>
<div ng-include="'/views/plantillas/frontPageMain.html'"></div>
  <div titulo-trabajo>
    <h4>Trabajos</h4>
  </div>
  <div contenedor-trabajo>
    <div row>
      <div trabajo-descripcion>
        <div titulo>
          Javier Aranguren
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
          <br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
        </p>
        <md-button class="md-raised md-fab md-mini" aria-label="Eat cake">
            <md-icon class=""> save</md-icon>
        </md-button>
        <div clear></div>
      </div>

      <div trabajo-descripcion>
        <div titulo>
          Victor Leon
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
        </p>
        <md-button class="md-raised md-primary">Aceptar</md-button>
        <div clear></div>
      </div>
    </div>

    <div row>
      <div trabajo-descripcion>
        <div titulo>
          Miguel Yepez
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
        </p>
        <md-button class="md-raised md-primary">Aceptar</md-button>
        <div clear></div>
      </div>

      <div trabajo-descripcion>
        <div titulo>
          Jorge Sarmiento
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
        </p>
        <md-button class="md-raised md-primary">Aceptar</md-button>
        <div clear></div>
      </div>

      <div trabajo-descripcion>
        <div titulo>
          Javier Osma
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
        </p>
        <md-button class="md-raised md-primary">Aceptar</md-button>
        <div clear></div>
      </div>
    </div>
  </div>
</md-content>
