
<md-content landing>
  <header>
    <div titulo>
      Sketch
    </div>
    <div sociales>
        <i class="ion-social-instagram ">
          <div tooltip>
              Instagram
          </div>
        </i>
        <i class="ion-social-twitter " ui-sref="trabajos">
          <div tooltip>
              Twitter
          </div>
        </i>
        <i class="ion-social-facebook ">
          <div tooltip>
              Facebook
          </div>
        </i>
        <md-button class="md-raised md-primary" ui-sref="frontPage.inicio">Iniciar Sesion</md-button>
    </div>
  </header>
  <div titulo-trabajo>
    <h4>Trabajos</h4>
  </div>
  <div contenedor-trabajo>
    <div row>
      <div trabajo-descripcion>
        <div titulo>
          Javier Aranguren
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
          <br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
        </p>
          <md-button class="md-raised md-primary">Aceptar</md-button>
        <div clear></div>
      </div>

      <div trabajo-descripcion>
        <div titulo>
          Victor Leon
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
        </p>
        <md-button class="md-raised md-primary">Aceptar</md-button>
        <div clear></div>
      </div>
    </div>

    <div row>
      <div trabajo-descripcion>
        <div titulo>
          Miguel Yepez
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
        </p>
        <md-button class="md-raised md-primary">Aceptar</md-button>
        <div clear></div>
      </div>

      <div trabajo-descripcion>
        <div titulo>
          Jorge Sarmiento
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
        </p>
        <md-button class="md-raised md-primary">Aceptar</md-button>
        <div clear></div>
      </div>

      <div trabajo-descripcion>
        <div titulo>
          Javier Osma
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore officiis aliquam deleniti labore itaque nihil voluptatem est culpa, molestiae, veritatis distinctio aut nam, ullam id quasi, corrupti officia numquam.
        </p>
        <md-button class="md-raised md-primary">Aceptar</md-button>
        <div clear></div>
      </div>
    </div>
  </div>
</md-content>
