
<md-content landing>
  <header>
    <div titulo>
      Sketch
    </div>
    <div sociales>
        <i class="ion-social-instagram ">
          <div tooltip>
              Instagram
          </div>
        </i>
        <i class="ion-social-twitter " ui-sref="trabajos">
          <div tooltip>
              Twitter
          </div>
        </i>
        <i class="ion-social-facebook ">
          <div tooltip>
              Facebook
          </div>
        </i>
        <md-button class="md-raised md-primary" ng-click="logout()">cerrar sesion</md-button>
    </div>
  </header>
  <div titulo-trabajo>
    <h4>Trabajos</h4>
  </div>
  <div contenedor-trabajo>
    <div row-trabajo>
        <div contenedor>
          <img id="vergrande" src="../../img/sample-1.jpg" alt="#">
        </div>
        <div ver-img>
          <img src="../../img/sample-1.jpg" alt="#" onclick="fmostrar(this);">
          <img src="../../img/1.jpg" alt="#" onclick="fmostrar(this);">
          <img src="../../img/parallax1.jpg" alt="#" onclick="fmostrar(this);">
          <img src="../../img/2.jpg" alt="#" onclick="fmostrar(this);">
          <img src="../../img/parallax2.jpg" alt="#" onclick="fmostrar(this);">
          <img src="../../img/3.jpg" alt="#" onclick="fmostrar(this);">
          <img src="../../img/4.jpg" alt="#" onclick="fmostrar(this);">
        </div>
        <div clear></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div row-acciones>
      <div cabecera>
        Forma de Pago
        <div precio>30.00$</div>
      </div>
      <md-content class="md-no-momentum">
          <md-input-container class="md-icon-float md-block">
            <label>Tarjeta de Credito</label>
            <md-icon class="name material-icons">credit_card</md-icon>
            <input ng-model="user.name" type="text">
          </md-input-container>

          <div layout="row">
            <md-input-container flex="50">
              <label>MM / YY</label>
              <md-icon class="name material-icons">date_range</md-icon>
              <input required name="clientName" >
              <div ng-messages="projectForm.clientName.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

            <md-input-container flex="50">
              <label>CVC</label>
              <md-icon class="name material-icons">lock</md-icon>
              <input required name="clientName" >
              <div ng-messages="projectForm.clientName.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

          </div>
      </md-content>
      <div comprar>
        <md-button class="comprar" ng-click="">Comprar → 30.00$</md-button>
      </div>

      <!-- informacion vendedor trabajo-->
      <div informacion-vendedor>
        <ul>
          <li>
            <img src="../../img/ja.jpg" alt="#">
            <a href="#" class="vendedor" ng-click="">Javier Aranguren</a>
            <a href="#" class="seguir"> Seguir</a>
            <a href="#" class="email"> <i class="material-icons">email</i></a>

          </li>
          <li>
            100% Recommended This Shop
          </li>
        </ul>
      </div>

      <div informacion-producto>
        <ul>
          <li>
            <dl>
              <dt>
                <i class="material-icons">local_offer</i> Precio
              </dt>
              <dd>
                30.00$
              </dd>
              <div clear></div>
            </dl>
          </li>
          <li>
            <dl>
              <dt>
                <i class="material-icons">date_range</i> Fecha
              </dt>
              <dd>
                11-04-2017
              </dd>
              <div clear></div>
            </dl>
          </li>
          <li>
            <dl>
              <dt>
                <i class="material-icons">date_range</i> Modificado En
              </dt>
              <dd>
                11-04-2017
              </dd>
              <div clear></div>
            </dl>
          </li>
          <li>
            <dl>
              <dt>
                <i class="material-icons">devices_other</i> Diseño
              </dt>
              <dd>
                Sensible
              </dd>
              <div clear></div>
            </dl>
          </li>
        </ul>
      </div>

    </div>
  </div>
</md-content>
