html, body {
  min-height: 100%; }

md-content[landing] {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative; }
  md-content[landing] .md-primary {
    background: #00a19a; }
    md-content[landing] .md-primary.md-raised {
      background-color: #00a19a; }
  md-content[landing] img {
    width: 100%;
    height: 100%; }
  md-content[landing] header {
    width: 100%;
    height: 60px;
    background-color: transparent;
    position: absolute;
    top: 0; }
    md-content[landing] header div[titulo] {
      font-family: 'Bebas';
      font-size: 40px;
      margin-left: 50px;
      top: 20%;
      color: white;
      position: relative;
      float: left; }
    md-content[landing] header div[sociales] {
      float: right;
      width: 20%;
      height: 50%;
      position: relative;
      top: 20%; }
      md-content[landing] header div[sociales] i {
        color: #00a19a;
        border: 1px solid;
        width: 40px;
        height: 35px;
        border-radius: 100px;
        text-align: center;
        padding-top: 5px;
        font-size: 30px;
        float: right;
        margin-right: 20px;
        background-color: white;
        z-index: 5;
        cursor: pointer; }
        md-content[landing] header div[sociales] i div[tooltip] {
          margin-top: -15px;
          font-size: 12px;
          transition: all 0.2s ease-in-out;
          color: transparent;
          z-index: 3;
          width: 60px; }
          md-content[landing] header div[sociales] i div[tooltip]:after {
            transition: inherit;
            content: '';
            background-color: transparent;
            position: absolute;
            margin-top: -22px;
            margin-left: -42px;
            border-bottom: 10px solid transparent;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            border-top: 10px solid transparent;
            z-index: 3; }
        md-content[landing] header div[sociales] i:hover div[tooltip] {
          font-size: 12px;
          text-align: center;
          border: 1px solid silver;
          margin-left: -10px;
          color: white;
          padding: 6px;
          border-radius: 3px;
          margin-top: 10px;
          background-color: #00a19a;
          position: absolute; }
          md-content[landing] header div[sociales] i:hover div[tooltip]:after {
            border-bottom: 10px solid #00a19a; }
  md-content[landing] div[logo] img {
    width: 600px;
    height: 450px;
    position: absolute;
    top: 150px;
    left: calc(50% - 300px); }
  md-content[landing] div[logo] section {
    position: absolute;
    top: 450px;
    left: calc(50% - 132px);
    width: auto; }
  md-content[landing] div[registro] {
    position: absolute;
    top: 150px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 400px;
    left: 8%;
    padding-bottom: 10px;
    border-radius: 3px;
    overflow: hidden; }
    md-content[landing] div[registro] div[cabecera] {
      background-color: #00a19a;
      width: 100%;
      padding: 20px 0px 20px 40px;
      color: white;
      font-size: 20px;
      margin: -10px 0px 20px -10px; }

/*# sourceMappingURL=landing.css.map */
